@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 0;
    padding-bottom: 94px;
  }

  .about-item {
    position: relative;
    display: inline-block;
    margin: 15px;
  }

  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .about-thumb {
    @include flex($jc: center, $ai: center);

    text-align: center;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    margin: 0;

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }

  .label {
    @include font($fw: 700, $lh: 16px);

    text-transform: uppercase;

    color: var(--primary-lite-color);
  }
}
