.logo {
  color: var(--primary-text-color);

  font-family: Raleway, sans-serif;
  text-decoration: none;
  @include font(24px, 700, 28px);
}

.header .logo {
  padding: 16px 0px;
  margin-right: 88px;
}

.footer .logo {
  margin-bottom: 20px;
  display: inline-block;

  color: var(--primary-lite-color);
}

.web {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header .logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    @include font(26px, 700, 31px);
  }

  .header .logo {
    padding: 24px 0;
    margin-right: 93px;
  }
}
